<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<!-- header 삽입 -->
<div th:replace="~{layouts/header :: header}"></div>

<form class="container" th:object="${article}" action="/articles/update" method="post">
    <input name="id" type="hidden" th:value="*{id}">
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title" th:value="*{title}">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content" th:text="*{content}"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a th:href="@{/articles/{id}(id=*{id})}">Back</a>
</form>

<!-- footer 삽입 -->
<div th:replace="~{layouts/footer :: footer}"></div>